<div class="edit">
<%= form_for @copycat_translation, :url => { :action => "update" }, :html => {:class => "copycat_translation"} do |f| %>
  <span class="copycat-edit-form-key"><%= @copycat_translation.key %></span>
  <br>
  <%= f.text_area :value, :size => "60x12" %>
  <br>
  <%= f.submit "Update" %>
<% end %>
<%= link_to "Cancel", copycat_translations_path %>
</div>
