<div id="copycat">
<ul>
  <li><h2>Copycat</h2></li>
  <% href = copycat_translations_path + ".yaml"%>
  <li><a href=<%=href%>>Download</a></li>
  <li><a href=<%= upload_copycat_translations_path %>>Upload</a></li>
  <li><a href=<%= readme_copycat_translations_path %>>Readme</a></li>
</ul>
<div class="copycat-notice"> <%= notice %> </div>
<table>
  <tr>
    <th> Key </th>
    <th> Value </th>
  </tr>
  <% @copycat_translations.each do |t| %>
  <tr>
    <td class="key">
      <%= link_to t.key, edit_copycat_translation_path(t) %>
    </td>
    <td class="value">
      <%= t.value %>
    </td>
  </tr>
  <% end %>
</table>
</div>
